.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8rem;
    height: 9.6rem;
    background: hsla(28, 52%, 95%, 1);

    background: linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F2EC", endColorstr="#FEEDF3", GradientType=1 );

    position: relative;

}
.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    
}
.logo:link,.logo:visited{
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #412716;
}
.main-nav-link:link,.main-nav-link:visited{
    font-family: 'EB Garamond', serif;
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #412716;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    transition: all 0.5s;
}
.main-nav-link:hover,.main-nav-link:active{
    border-bottom: 1px solid #412716;
    

}
.section-hero{
    background: hsla(28, 52%, 95%, 1);

    background: linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F2EC", endColorstr="#FEEDF3", GradientType=1 );
    padding: 4.8rem 0 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    justify-items: center;

}
.heading-primary{
    color: #412716;
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;

}
.hero-description{
    font-size: 2rem;
    line-height:1.6;
    margin-bottom: 4.8rem;
    color: #543d2d;
}
.hero-img{
    height: 30rem;
    width: 30rem ;
    border-radius: 50%;
   
}
.btn,.btn:link,.btn:visited{
    display: inline-block;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
 
    padding: 1.6rem 3.2rem;
    background-color: #fcc2d7;
    color: #FFF;
}

.section-featured{
    padding: 9.6rem 0;

}
.collaboration{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    color: #543d2d;
    margin-bottom: 3.2rem;
}
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos img{
height: 6.4rem;
 filter: brightness(0);
 opacity: 60%;
}
.collaboration-details{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 4.8rem;
    padding: 3.2rem;
    background: hsla(28, 52%, 95%, 1);

    background: linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(28, 52%, 95%, 1) 0%, hsla(339, 89%, 96%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F2EC", endColorstr="#FEEDF3", GradientType=1 );
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;

}
.collaboration-img{
    background-image: url(person-2.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 30rem;
    border-radius: 11px;
    
}
.collaboration-text-box{
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.collaboration-text{
    font-size: 2rem;
    color: #543d2d;
    line-height: 1.6;
}
.section-reviews{
    padding: 9.6rem 0;
    
}
.reviews{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    color: #543d2d;
    margin-bottom: 3.2rem;
}
.review-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
    
    
}
.review-img{
    display: block;
    width: 100%;
    transition: all 0.4s;
    
   
}
.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.read , .read:link , .read:visited{
    font-size: 1.6rem;
    text-decoration: none;
    color: #412716;
background-color: #fcc2d7;
color: #fff;

    padding: 1.6rem 3.2rem;
    text-align: center;

    
    
}
.footer{
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}
.logo-col{
    display: flex;
    flex-direction: column;
}
.footer-logo{
 
    display: block;
    margin-bottom: 3.2rem;
}
.social-links{
    display: flex;
    list-style: none;
    gap: 2.4rem;
}
.footer-link:link,.footer-link:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}
.social-icon{
    height: 2.4rem;
    width: 2.4rem;
}
.copyright{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}
.copy-name{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    text-decoration: none;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}
.contacts{
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}
.address-insta{
    margin-bottom: 2.4rem;
}
.address-email{
    margin-bottom: 2.4rem;
}
.btn-mobile-nav{
    border: none;
    background:none;
    cursor: pointer;
    display: none;
}
.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color:#333 ;
}
.icon-mobile-nav[name="close-outline"]{
    display: none;
}
.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top:0;
    padding-bottom: 0;
    z-index: 999;
    background-color: rgba(255,255,255,0.97);
    box-shadow:0 1.2rem 3.2rem  rgba(0, 0, 0, 0.03);
   
  }
  .sticky .section-hero{
    margin-top: 9.6rem;
  }